<ion-content>
  <div padding text-center>
    <h1 padding-vertical>Is your API Resource URI valid?</h1>
    <hr>
    <p>This app takes in the user input and makes a GET request using the
      <strong>HTTPClient</strong> service.</p>
    <p>Also uses the
      <strong>Toast Controller</strong> api to give a feedback to the user if no url is entered.</p>
    <p>I also used the
      <strong>ng-if</strong> directive to pull stunts with the loader and the response div.</p>
    <br>
    <ion-list margin-vertical>
      <ion-item>
        <ion-input text-center type="text" placeholder="Enter your API resource uri" [(ngModel)]="api_uri"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="secondary" (click)="fetchRemoteData()">Check resource Validity</button>
  </div>
  <div text-center>
    <img *ngIf="loader" ion-avatar src="https://thumbs.gfycat.com/AggressiveGrouchyHammerkop-max-1mb.gif" alt="">
  </div>
  <div *ngIf="posts" text-center>
    <div *ngIf="showResponse">
      <h2 [style.color]="success">Success!</h2>
      <strong>API Retrieved</strong>
      <br>{{posts}}
    </div>
  </div>

  <div margin>
    <ion-list>
      <ion-item>
        <input type="text" placeholder="Enter your IP address" name="ip" [(ngModel)]="ip" (keyup.enter)="checkIp(ip)">
      </ion-item>
    </ion-list>
  </div>

  <div text-center>
    <h1>Get Your Travel Info</h1>
    <ion-list margin-vertical>
      <ion-item>
        <ion-input text-center type="text" placeholder="Enter your location" [(ngModel)]="userLocation.origin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input text-center type="text" placeholder="Enter your destination" [(ngModel)]="userLocation.destination"></ion-input>
      </ion-item>
      <button ion-button full (click)="getTravelInfo()">Get Info</button>
    </ion-list>

    <div *ngIf="response_data" text-center>
      <h3>Your route is {{response_data.summary}}</h3>
      <p>You are travelling for about <strong>{{legs.distance.text}}</strong></p>
      <ul>
        <li *ngFor="let step of legs.steps"><p [innerHTML]="step.html_instructions"></p></li>
      </ul>
    </div>
  </div>
</ion-content>